
@model IEnumerable<ShowProduct.Models.Product>

@{
    ViewBag.Title = "All Products";
}

<h2>GetAllProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" width="900px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="400px">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShortDescription)
    </td>

    <td>
        @Html.ActionLink("Edit", "GetProduct", new {id = item.ProductId}) |
        @Html.ActionLink("Details", "Details", new { id= item.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new {id = item.ProductId })
    </td>
</tr>

    }

</table>

